body{ font-family: 'Montserrat', sans-serif;
color: white
}
h1	{
	color: white;
}
body{background-image:url(images/cielgrand.jpg);}
a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}
.warning {
    border: 10px ridge #f00;
    background-color: blue;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.warning img {
    width: 100%;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}
.bureau {
	position: absolute;
	top: 0;
	right: 0;
	border: 8px ridge #f00
}
